<h1>Edit transaction</h1>

<form id="edit-transaction" name="transaction">
  <div class="field">
    <label for="date"> date:</label>
    <input type="text" name="date" id="date" value="<%= date %>" >
  </div>

  <div class="field">
    <label for="amount"> amount:</label>
    <input type="text" name="amount" id="amount" value="<%= amount %>" >
  </div>

  <div class="field">
    <label for="cleared"> cleared:</label>
    <input type="text" name="cleared" id="cleared" value="<%= cleared %>" >
  </div>

  <div class="field">
    <label for="recurring"> recurring:</label>
    <input type="text" name="recurring" id="recurring" value="<%= recurring %>" >
  </div>

  <div class="field">
    <label for="ledger_month"> ledger_month:</label>
    <input type="text" name="ledger_month" id="ledger_month" value="<%= ledger_month %>" >
  </div>

  <div class="field">
    <label for="deposit"> deposit:</label>
    <input type="text" name="deposit" id="deposit" value="<%= deposit %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Transaction" />
  </div>

</form>

<a href="#/index">Back</a>
