<p>
  <b>Date:</b>
  <%= date %>
</p>

<p>
  <b>Amount:</b>
  <%= amount %>
</p>

<p>
  <b>Cleared:</b>
  <%= cleared %>
</p>

<p>
  <b>Recurring:</b>
  <%= recurring %>
</p>

<p>
  <b>Ledger month:</b>
  <%= ledger_month %>
</p>

<p>
  <b>Deposit:</b>
  <%= deposit %>
</p>


<a href="#/index">Back</a>