<!--find me in templates/transacion.jst.ejs<br>-->

<table>
	<thead>
		<tr>
			<td style="margin: 3px; border: 1px solid grey;">ID</td>
			<td style="margin: 3px; border: 1px solid grey;">Date</td>
			<td style="margin: 3px; border: 1px solid grey;">Amount</td>
			<td style="margin: 3px; border: 1px solid grey;">Cleared</td>
			<td style="margin: 3px; border: 1px solid grey;">Recurring</td>
			<td style="margin: 3px; border: 1px solid grey;">Deposit</td>
			<td style="margin: 3px; border: 1px solid grey;">Ledger Month</td>
			<td style="margin: 3px; border: 1px solid grey;">Category</td>
			<td style="margin: 3px; border: 1px solid grey;">Vendor</td>
		</tr>
	</thead>
	<tbody id="ledger-tbody">
		<% _.each(collection, function(model) { %>
			<tr>
				<td style="margin: 3px; border: 1px solid grey;"><%= model.id %></td>
				<td style="margin: 3px; border: 1px solid grey;"><%= model.date %></td>
				<td style="margin: 3px; border: 1px solid grey;"><%= model.amount %></td>
				<td style="margin: 3px; border: 1px solid grey;"><%= model.cleared %></td>
				<td style="margin: 3px; border: 1px solid grey;"><%= model.recurring %></td>
				<td style="margin: 3px; border: 1px solid grey;"><%= model.deposit %></td>
				<td style="margin: 3px; border: 1px solid grey;"><%= model.ledger_month %></td>
				<td style="margin: 3px; border: 1px solid grey;"><%= model.category.name %></td>
				<td style="margin: 3px; border: 1px solid grey;"><%= model.vendor.name %></td>
			</tr>		 
		<% }); %>
	</tbody>
</table>
