<!--find me in templates/transacion.jst.ejs<br>-->

<table>
	<thead>
		<tr>
			<td style="margin: 3px; border: 1px solid grey;">Vendor</td>
			<td style="margin: 3px; border: 1px solid grey;">Category</td>
			<td style="margin: 3px; border: 1px solid grey;">Amount</td>
			<td style="margin: 3px; border: 1px solid grey;">Date</td>
			<td style="margin: 3px; border: 1px solid grey;">Cleared</td>
			<td style="margin: 3px; border: 1px solid grey;">Recurring</td>
			<td style="margin: 3px; border: 1px solid grey;">Deposit</td>
		</tr>
	</thead>
	<tbody id="ledger-tbody">
		<% _.each(collection, function(model) { %>
			<tr class="model" data-model-id="<%= model.id %>">
				<td class="vendor" style="margin: 3px; border: 1px solid grey;">
					<input type='text' value='<%= model.vendor.name %>'/>
				</td>
				<td class="category" style="margin: 3px; border: 1px solid grey;">
					<input type='text' value='<%= model.category.name %>'/>
				</td>
				<td class="amount" style="margin: 3px; border: 1px solid grey;">
					<input type='text' value='<%= model.amount %>'/>
				</td>
				<td class="trans-date" style="margin: 3px; border: 1px solid grey;">
					<input type='text' value='<%= model.date %>'/>
				</td>				
				<td class="cleared" style="margin: 3px; border: 1px solid grey;">
					<input type='checkbox' <%= (model.cleared)? 'checked=checked' : '' %>/>
				</td>
				<td class="recurring" style="margin: 3px; border: 1px solid grey;">
					<input type='checkbox' <%= (model.recurring)? 'checked=checked' : '' %>/>				
				</td>
				<td class="deposit" style="margin: 3px; border: 1px solid grey;">
					<input type='checkbox' <%= (model.deposit)? 'checked=checked' : '' %>/>
				</td>
			</tr>		 
		<% }); %>
	</tbody>
</table>

