<!-- templates/transacion.jst.ejs -->

<tr>
	<td style="margin: 3px; border: 1px solid grey;"><%= id %></td>
	<td style="margin: 3px; border: 1px solid grey;"><%= date %></td>
	<td style="margin: 3px; border: 1px solid grey;"><%= amount %></td>
	<td style="margin: 3px; border: 1px solid grey;"><%= cleared %></td>
	<td style="margin: 3px; border: 1px solid grey;"><%= recurring %></td>
	<td style="margin: 3px; border: 1px solid grey;"><%= deposit %></td>
	<td style="margin: 3px; border: 1px solid grey;"><%= ledger_month %></td>

</tr>
