


<h2 style='float:right;'>Transactions</h2>

<h2 style='float:left;'><%= month_name %></h2>

<%= hidden_field_tag 'month-name', month_name, id: 'month-name' %>
<%= hidden_field_tag 'prev-month', prev_month, id: 'prev-month' %>
<%= hidden_field_tag 'next-month', next_month, id: 'next-month' %>
<%= hidden_field_tag 'current-month', @ledger_date %>
<%= hidden_field_tag 'last-selected-element', '' %>
<table class="display transaction-table" style='padding:100px 0'>
  <thead>
  <tr>
    <!--<th>ID</th>-->
    <th>Name</th>
    <th>Category</th>
    <th>Amount</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @transactions.each do |transaction| %>
      <tr class='gradeA'>
        <!--<td><%= transaction.id %></td>-->
        <td>
          <input id='vendorName_<%= transaction.id %>' name='vendor_name' class='editable typeahead input-medium' value="<%= display_name(transaction.vendor) %>" data-provide="typeahead" type='text' autocomplete="off" placeholder="Transaction Name"/>
        </td>
        <td>
          <input id='categoryName_<%= transaction.id %>' name='category_name' class='editable typeahead input-medium' value="<%= display_name(transaction.category) %>" data-provide="typeahead" type='text' autocomplete="off" placeholder="Category Name"/>
        </td>
        <td>
          <div class="input-prepend">
            <span class="add-on">$</span>
            <input id='amount_<%= transaction.id %>' name='amount' class='editable input-small currency' value="<%= display(format_currency(transaction.amount)) %>" type='text' autocomplete="off" placeholder="Amount"/>
          </div>
        </td>
        <td>
          <div class="input-append">
            <input id='date_<%= transaction.id %>' name='date' class='editable datepicker input-small' value='<%= format_date(transaction.date) %>' type='text' autocomplete="off" placeholder="Date"/>
            <span class="add-on"><i class="icon-calendar"></i></span>
          </div>
        </td>
        <td>
          <div class="btn-group" data-toggle="buttons-checkbox">
            <button id='cleared_<%= transaction.id %>' name='cleared' <%= checked(transaction.cleared) %> value='<%= transaction.cleared %>' class="btn editable checkbox <%= active(transaction, 'cleared') %>">
              <i class='icon-check icon-white'></i></button>

            <button id='recurring_<%= transaction.id %>' name='recurring' <%= checked(transaction.recurring) %> value='<%= transaction.recurring %>' class="btn editable checkbox <%= active(transaction, 'recurring') %>">
              <i class='icon-refresh icon-white <%= blue(transaction) %>'></i></button>

            <button id='deposit_<%= transaction.id %>' name='deposit' <%= checked(transaction.deposit) %> value='<%= transaction.deposit %>' class="btn editable checkbox <%= active(transaction, 'deposit') %>">
              <i class='icon-money icon-white <%= green(transaction) %>'></i></button>
          </div>
        </td>
        <td>

          <%#= link_to 'Edit', edit_transaction_path(transaction), class: "btn btn-mini", style: "float:left; margin-left: -20px;" %>
          <%= button_to 'Delete', transaction, method: :delete, onclick: "return confirm('Delete #{display_name(transaction.vendor)} transaction?')", class: "btn btn-mini btn-danger", style: "float:right;" %>
        </td>
        <td><%= display_name(transaction.vendor) %></td>
        <td><%= display_name(transaction.category) %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.date %></td>
        <td><%= recurring(transaction.recurring) %></td>
        <td><%= cleared(transaction.cleared) %></td>
        <td><%= deposit(transaction.deposit) %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<div id="nameTooltip" data-toggle="tooltip" title="Name must be greater than 2 characters"></div>
<br/>

<%= javascript_include_tag 'field-actions' %>