<p id="notice"><%= notice %></p>
<% set_balances %>

<div id='balance-container'>
  <div id='ledger-balance-container'>
    Heather's Balance:
    <div id="ledger-balance" data-balance="<%= @ledger_balance %>"><%= number_to_currency(@ledger_balance) %> </div>
  </div>

  <div id='bank-balance-container'>
    Bank Balance:
    <div id="bank-balance" data-balance="<%= @bank_balance %>"><%= number_to_currency(@bank_balance) %> </div>
  </div>
</div>
<!--<div id='content-inner' class='content-inner'>-->
    <%#= render partial: 'month' %>
<% logger.info "===============IN VIEW #{@transactions.inspect}" %>
<script type="text/javascript">
    $(function(){
        Finances.initialize({
            transactions: <%= @transactions.to_json.html_safe -%>
        });
    });
</script>

<!--</div>-->
<!--<div id='content-inner-2' class='content-inner-2'></div>-->



<!--<button id='prev-month-btn' class='right btn'>Previous Month</button>-->
<!--<button id='next-month-btn' class='left btn'>Next Month</button>-->
<%#= link_to 'Previous Month', transactions_path(ledger_date: prev_month), id: "prev-month-btn", class: 'right' %>
<%#= link_to 'Next Month', transactions_path(ledger_date: next_month), id: "next-month-btn", class: 'left' %>
<!--<button id='new-transaction-btn' class='btn btn-success'>New Transaction</button>-->

<div id="action-btn-header" class="btn-group">
  <button id='prev-month-btn'  class="right btn">
    <i class='icon-chevron-left'></i></button>

  <button id='new-trans-btn' class="btn green">
    <i class='icon-plus-sign icon-white'></i> New</button>

  <button id='next-month-btn' class="left btn">
    <i class='icon-chevron-right'></i></button>
</div>

<%#= link_to 'New Transaction', new_transaction_path, id: 'new_trans_btn' %>

<%#= javascript_include_tag 'transactions.js' %>